---
layout: archive
title: "📚 Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">🔎 You can also find my work on <a href="{{site.author.googlescholar}}">Google Scholar</a>, <a href="https://dblp.org/pid/257/8328-1.html">DBLP</a>, and <a href="https://orcid.org/0009-0002-8778-5025">ORCID</a>.</div>
{% endif %}

{% include base_path %}

{% assign sorted_publications = site.publications | sort: "date" | reverse %}
<div class="publication-card-list">
{% for post in sorted_publications %}
  {% include publication-card.html publication=post %}
{% endfor %}
</div>
